.navbar-left > li > ul {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #ffd11a;
}

.navbar-left > li:hover > ul {
  display: block;
}

.navbar-default {
  background-color: beige;
}

footer {
  background-color: beige;
}

.box {
  background-color: beige;
}

.navbar-left > li:hover {
  background-color: #ffd11a;
}

.navbar-left > li > ul a:hover {
  background-color: #ffd11a;
  text-decoration: none;
  color: white;
}